.terminal-container {
    padding: 20px;
    border-radius: 10px;
    background-color: #000000;
    width: 80%;
    height: 100%;
    margin: auto;
    box-sizing: border-box;
  }
  
  .terminal-container > div {
    width: 100%;
    height: 175%;
  }